{% extends 'booth/base.html' %}
{% load static %}

{% block content %}

{% include 'booth/header.html' %}
<!-- Vendor CSS Files -->
<!-- <br><br><br>
<section id="contact" class="contact section-bg mt-4">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>                    Book an appointment
</h2> -->
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      <!-- </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
           <img src="{% static 'assets/tunebox.PNG' %}" alt="" srcset="">   
        </div>
        <div class="col-4"></div>
      </div>
      <br>
      <div class="row"> -->

        <!-- <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div> -->

        <!-- <div class="col-lg-12">
          <form action="{% url 'appointment' %}" method="post" role="form" class="php-email-form">

            {% csrf_token %}
            <div class="row">

              <div class="col-md-6 form-group mt-3 mt-md-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required >
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-2">
                <input type="text" class="form-control" name="email" id="email" placeholder="Last Name" required>
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-2">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-2">
                <input type="email" class="form-control" name="email" id="email" placeholder="Phone Number" required>
              </div>

              <div class="col-md-12 form-group mt-3 mt-md-2">
                <input type="date" class="form-control" name="email" id="email" placeholder="Select Date" required>
              </div>

            </div>
          
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>

            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" class="rounded-pill btn-dark">Send Message</button></div>
          </form>
        </div> -->

      <!-- </div> -->

 
<!-- <br> -->

      <!-- <div class="row">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>00100 Nairobi</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>tunebox.ke@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>+254710580320</p>
          </div>
        </div>

      </div> -->

    <!-- </div>
  </section> -->



   
<br><br><br><br><br>
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">

            <div class="section-title">
                <h2>Book with us.
                   </h2>
                        <div class="row">
                          <div class="col-4"></div>
                          <div class="col-4">
                            <img src="{% static 'assets/images/webp/tunebox.PNG' %}" width="60%" srcset="">   
                          </div>
                          <div class="col-4"></div>
                        </div>         
                   </div>
               
                <div class="row">

                    <div class="col-lg-12">
                      {% if messages %}
                      <div class="card notification-card notification-invitation">
                          <div class="card-body">
                          {% for message in messages %}
                                  <div class="card-title">{{message}} </div>
                              {% endfor %}
                          </div>
                        </div> 
                      {% endif %}
                       

                     
                    <form class="form-card" method="POST" action="{% url 'appointment' %}">
                    {% csrf_token %}
                        <div class="row">

                            <div class="col-md-6 form-group mt-3 mt-md-2"> 
                            
                            <input required type="text" id="fname" name="fname" class="form-control" placeholder="Enter your first name" onblur="validate(1)"> 
                          </div>

                        <div class="col-md-6 form-group mt-3 mt-md-2"> 
                            <input required type="text" id="lname" name="lname" class="form-control" placeholder="Enter your last name" onblur="validate(2)"> 
                        </div>

                        </div>


                        <div class="row justify-content-between text-left">

                             <div class="col-md-6 form-group mt-3 mt-md-2"> 
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span>
                                </label> 
                                <input type="text" id="email" name="email" class="form-control" placeholder="" onblur="validate(3)"> 
                             </div>

                            <div class="col-md-6 form-group mt-3 mt-md-2"> 
                             <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> 
                              <input type="text" id="mob" name="mobile" class="form-control" placeholder="" onblur="validate(4)"> 
                            </div>

                            <div class="col-md-12 form-group mt-3 mt-md-2"> 
                                <label class="form-control-label px-3">Select Date<span class="text-danger"> *</span></label> 
                                 <input type="date" id="select_date" name="select_date" class="form-control" placeholder="" onblur="validate(4)"> 
                            </div>

                        </div>

                            <div class="row justify-content-between text-left">
                                  <div class="form-group col-12 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Your request<span class="text-danger"> *</span></label> 
                                      <textarea type="text" id="ans" name="request" class="form-control" placeholder="" onblur="validate(6)"></textarea> 
                                  </div>
                            </div>  

                             <div class="text-center"> 
                              <button type="submit" class="rounded-pill btn-dark" >Send</button> 
                             </div>
                            
                        </form>
              
                    </div>
              </div>

               

              <div class="row">
                      <div class="col-lg-6">
                        <div class="info-box mb-4">
                          <i class="bx bx-map"></i>
                          <h3>Our Address</h3>
                          <p>00100 Nairobi</p>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                          <i class="bx bx-envelope"></i>
                          <h3>Email Us</h3>
                          <p>tunebox.ke@gmail.com</p>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                          <i class="bx bx-phone-call"></i>
                          <h3>Call Us</h3>
                          <p>+254710580320</p>
                        </div>
                </div>

      </div>
         
        </div>
    </div>
        </div>
    </section>



{% include 'booth/footer.html' %}



{% endblock content %}
  
  {% block script %}
    function validate(val) {
    v1 = document.getElementById("fname");
    v2 = document.getElementById("lname");
    v3 = document.getElementById("email");
    v4 = document.getElementById("mob");
    v5 = document.getElementById("job");
    v6 = document.getElementById("ans");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;

    if(val>=1 || val==0) {
    if(v1.value == "") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }

    if(val>=2 || val==0) {
    if(v2.value == "") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }
    if(val>=3 || val==0) {
    if(v3.value == "") {
    v3.style.borderColor = "red";
    flag3 = false;
    }
    else {
    v3.style.borderColor = "green";
    flag3 = true;
    }
    }
    if(val>=4 || val==0) {
    if(v4.value == "") {
    v4.style.borderColor = "red";
    flag4 = false;
    }
    else {
    v4.style.borderColor = "green";
    flag4 = true;
    }
    }
    if(val>=5 || val==0) {
    if(v5.value == "") {
    v5.style.borderColor = "red";
    flag5 = false;
    }
    else {
    v5.style.borderColor = "green";
    flag5 = true;
    }
    }
    if(val>=6 || val==0) {
    if(v6.value == "") {
    v6.style.borderColor = "red";
    flag6 = false;
    }
    else {
    v6.style.borderColor = "green";
    flag6 = true;
    }
    }

    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;

    return flag;
    }
 {% endblock script %}