<script
    src='../../static/assets/js/whatsapp.js'
    async
    onLoad="whatsappButton({
    buttonName:'Message Us',
    buttonIconSize: '22',
    brandImageUrl:'../../static/assets/images/logo1.png',
    buttonMargin:'true',
    brandName:'tunebox',
    brandSubtitleText:'Typically replies within a day',
    buttonSize:'regular',
    buttonPosition:'right',
    callToAction:'Start Chat',
    phoneNumber:'254704099049',
    welcomeMessage:'Hi there 👋',
    prefillMessage:'Hi, I want to know more!',
    })"
    >
</script>