{% extends 'booth/base.html' %}
{% load static %}

{% block content %}     

<link href="{% static  'assets/css/style1.css' %}" rel="stylesheet">

     <!-- ======= hero Section ======= -->
     <section id="hero">
        <div class="hero-container">
          <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    
            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
    
            <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active" style="background-image: url(../../static/assets/images/bak.jpeg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animate__animated animate__fadeInDown">WELCOME TO TUNEBOX </h2>
                    <p class="animate__animated animate__fadeInUp">We capture moments in style</p>
                  </div>
                </div>
              </div>
    
              <div class="carousel-item" style="background-image: url(../../static/assets/images/weddings/habi2.jpg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animate__animated animate__fadeInDown"></h2>
                    <p class="animate__animated animate__fadeInUp"></p>
                  </div>
                </div>
              </div>
    
              <div class="carousel-item" style="background-image: url(../../static/assets/images/birthdays/image1.jpg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animate__animated animate__fadeInDown"></h2>
                    <p class="animate__animated animate__fadeInUp"></p>
                  </div>
                </div>
              </div>
    
            </div>
    
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
    
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
    
          </div>
        </div>
      </section>
      <!-- End Hero Section -->

      <script src="{% static  'assets/js/main1.js' %}"></script>
      {% endblock %}